/* .Person {
    width: 60%;
    font-size: 12px;
    margin: 16px auto;
    padding: 20px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 0 2rem 3rem #eee;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
} */